@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif !important;
}

.logo .icon {
  margin-right: -8px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  -webkit-text-fill-color: #000 !important;
}

html.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0d1321 inset !important;
  box-shadow: 0 0 0px 1000px #0d1321 inset !important;
  -webkit-text-fill-color: #fff !important;
}

html.dark input:-webkit-autofill::first-line {
  color: tra !important;
}

input:-webkit-autofill::first-line {
  color: transparent !important;
}

.master-layout {
  min-height: calc(100vh - 76px);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
/* .css-1wvake5{
  border: none !important;
  outline: none !important;
} */

/**----------sidebar-----------**/
.css-dip3t8 {
  background-color: transparent !important;
}
.ps-menuitem-root {
  font-weight: 700 !important;
}
.ps-menu-button:hover {
  background-color: #fce0ca !important;
  color: #282e3b !important;
}
html.dark .ps-menu-button:hover {
  background-color: #ffffff !important;
  color: #0d1321 !important;
}
.firstRow-sideBar .ps-menu-button:hover {
  background-color: transparent !important;
  color: #0d1321 !important;
}
html.dark .firstRow-sideBar .ps-menu-button:hover {
  background-color: transparent !important;
  color: #0d1321 !important;
}

.ps-menu-button {
  /* border-top: #ececec solid 1px !important; */
  padding-block: 30px !important;
}
.firstRow-sideBar .ps-menu-button {
  border: none !important;
  margin-left: 5px !important;
  padding-block: 0px !important;
}
/* .sec-row .ps-menu-button {
  border-top: #ececec solid 1px !important;
} */

.css-16d95v9 > .ps-menu-button.active {
  border-left: 5px solid #009247 !important;
}
.special-border {
  border-left: transparent !important;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}
/* 
input[type="datetime-local"] {
  background-image: url("path-to-your-icon/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  padding-right: 40px;
}

/* Dark mode version */
/* @media (prefers-color-scheme: dark) {
  input[type="datetime-local"] {
    background-image: url("path-to-your-icon/calendar-icon-dark.svg");
    color: #000000;
  }
} */

.notFound {
  background-image: url(../src/assets/404.png);
  background-position: center;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
}

.react-form-wizard {
  .wizard-icon-container {
    background-color: #c5d86d !important;
  }

  .smooth-border-left-to-right {
    border-color: #e5e7eb !important;
  }

  .active .wizard-icon-container {
    background-color: #fcdabf !important;
  }

  .wizard-btn {
    background-color: #c5d86d !important;
    color: #0d1321 !important;
  }

  .wizard-icon {
    color: #0d1321 !important;
  }
}
html.dark .wizard-btn {
  color: #fff !important;
}
html.dark .wizard-icon {
  color: #fff !important;
}